html {
  box-sizing: border-box;
  font-size: 10px;
  background: #ffc600;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Amatic SC", cursive;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 4rem;
}

header p {
  margin: 0;
}

.start-btn {
  font-size: inherit;
  background-color: inherit;
  font: inherit;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
}

h1 {
  text-align: center;
  font-size: 10rem;
  line-height: 1;
  margin-bottom: 0;
}

.score {
  background: rgba(255, 255, 255, 0.2);
  padding: 0 3rem;
  line-height: 1;
  border-radius: 1rem;
  display: inline-block;
}

.game {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.game:hover {
  cursor: crosshair;
}
.hole {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url(dirt.svg) bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole {
  background: url("mole.svg") bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}

.mole.bang {
  background: url("bang.svg") bottom center no-repeat;
  background-size: 100%;
}

.hole.up .mole {
  top: 0;
}

.hole.up .mole:hover {
  cursor: grab;
}

.timer-text.shake {
  animation: shake 0.5s linear 1;
}

.score.up {
  animation: scaleup 0.2s linear 1;
}

.highest-text.up {
  animation: scaleup 1s linear 1;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 4px, 0);
  }
}

@keyframes scaleup {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.2);
  }
}